html{height: 100%}
body{margin: 0;height: 100%;
    background: #fff;}
canvas{display: block;width: 100%;height: 100%;}
.welcome-text{
    top: 60px;
    left: auto;
    width: 270px;
    height: 150px;
    opacity: 1;
}
#list {
    top: 380px;
    margin-top: 5px;
    margin-bottom: 5px;
}
.highlight {
    padding: 2px 2px 2px 2px;
    margin-right: auto;
    margin-left: auto;
}

#footer {
    padding: auto 15px auto 15px;
    margin: auto 15px auto 15px;
}